/*===============================================side nav======================================== */
.side_nav {z-index: 999; top: 420px; left: 1760px; position: fixed; background-color: black; display: inline-block; text-align: center; border-radius: 15px; height: 420px;}
.side_nav dt{margin-bottom: 9px;}
.side_nav dt .line_blank{padding-top: 19px;}
.side_nav dt a img{margin-top: 20px;}
.side_nav dd{color: white; margin: 0 10px; font-size: 0.875rem;}
.side_nav dd em{padding-bottom: 16px; border-bottom: 1px solid rgb(117, 117, 117); font-weight: 800;}
.header_nav {background-color: beige;}
.header_nav header{height:112px; background:#fff;z-index:999; display:flex; position: relative; left: 0; top: 0;}
.header_nav header h1{margin-left: 260px; display: flex; align-items: center;}
.header_nav header nav {display: flex; margin-left: 320px;align-items: center;  white-space: nowrap;}  
.header_nav header nav .gnb {display: flex;} 
.header_nav header nav .gnb > li {margin-right: 76px; font-size: 1.125rem;position: relative; }
.header_nav header nav .gnb li .snb {display: none; text-align: center; position: absolute; z-index: 300; left: 50%; transform: translateX(-50%); top: 80px;}
.header_nav header nav .gnb li .snb li {position: relative; z-index: 200; line-height: 190%;}
.header_nav header nav .gnb li .snb li a { color: #757575; font-size: 0.938rem; font-weight: 500;}
.header_nav header nav .nav_bg { display: none; position: absolute; width: 100%; z-index: 100; border-top: 1px solid #d9d9d9; height: 226px; background-color: white; top: 100px; left: 0; }
/* =============================================================bg1 =====================================================================================================*/
/* =============================================================bg1 =======================================================================================================*/
.bg1 {}
.bg1 p {position: relative;}
.bg1 p a {position: absolute; z-index: 99999; left: 50%; top: 750px;}
main .bg1 .swiper-pagination {left: 600px; top: 150px; }
main .bg1 .swiper-pagination .swiper-pagination-bullet {width: 10px; height: 10px; background-color: #808080; margin-left: 10px;}
main .bg1 .swiper-pagination .swiper-pagination-bullet-active {width: 10px; height: 10px; background-color: white; opacity: 75%; margin-left: 10px;}
.visual {width: 1920px; height: 841px;}
.visual .slide1 {background-image: url(../images/bg1.jpg);}
.visual .slide2 {background-image: url(../images/bg1_2.png);}
.visual .slide3 {background-image: url(../images/bg1_3.jpg);}
.visual .slide4 {background-image: url(../images/bg1_4.png);}
.visual .slide5 {background-image: url(../images/bg1_5.png);}
.visual .slide6 {background-image: url(../images/bg1_6.png);}
.toast,.set,.side,.drink {width: 315px; }
/* =============================================================bg2 =============================================================================================================*/
/* =============================================================bg2 ======================================================================================================*/
.bg2 {text-align: center;}
.bg2 h1 {text-align: center; margin-top: 157px;}
.bg2 h2 {margin-top: 34px; font-size: 1.4rem; letter-spacing: -5%;}
.bg2 p{margin-top: 16px; line-height: 33px; color: #757575;}
.bg2 a{border: 2px solid black; border-radius: 30px; display: flex; width: 138px; align-items: center;
    justify-content: center; margin: 0 auto; flex-flow: row nowrap; width: 201px; margin-top: 50px; padding: 9px 0;} 
.bg2 a span{margin-right: 5px; justify-content: center; font-weight: 500;}
.bg2 a em img{margin-left: 20px; width: 24px;}
/* ================================================================bg3======================================================================================================= */
/* ================================================================bg3========================================================================================================== */
.bg3 {background-color: #FF281E; margin-top: 159px; height: 1060px; text-align: center;}
.bg3 > p{padding-top: 148px; text-align: center;}
.bg3 h2{text-align: center; color: white; font-weight: 800; font-size: 4rem;}
/* ======================================================================box shawdow===================== */
.bg3 .menu_wrap {position: relative;}
/* 버튼 */
.bg3 .menu_wrap .toast_wrap .swiper-button-prev {color: white; margin-left: 200px;}
.bg3 .menu_wrap .toast_wrap .swiper-button-next {color: white; margin-right: 200px;}
.bg3 .menu_wrap .set_wrap .swiper-button-prev {color: white; margin-left: 200px;}
.bg3 .menu_wrap .set_wrap .swiper-button-next {color: white; margin-right: 200px;}
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper .swiper-slide,.bg3 .menu_wrap .set_wrap .set .swiper-wrapper .swiper-slide,.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .swiper-slide,.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper .swiper-slide {
    box-shadow: 0 7px 7px 0 rgb(207, 0, 0);} 
/* ================================================미니메뉴 ========================================*/
.bg3 .mini_nav{text-align: center;margin-top: 40px; margin-bottom: 60px;}
.bg3 .mini_nav .active{background-color: #AC130C; font-weight: 600; padding: 7px 17px; border-radius: 30px;}
.bg3 .mini_nav a{margin-right: 43px; color: white;}
/* ===============================================div.boxx =====================================*/
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper .swiper-slide a .boxx {padding: 20px 20px 50px 20px; border-top: 1px solid #b6b6b6; width: 90%; margin: 0 auto;}
.bg3 .menu_wrap .set_wrap .set .swiper-wrapper .swiper-slide a .boxx, .bg3 .menu_wrap .side_wrap .side .swiper-wrapper .swiper-slide a .boxx,.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper .swiper-slide a .boxx {
    padding: 20px 20px 50px 20px;}
/* ===============================================스와이퍼 메뉴들 =====================================*/
.bg3 .menu_wrap .toast_wrap{display: block;}
.bg3 .menu_wrap .set_wrap{display: none;}
.bg3 .menu_wrap .side_wrap{display: none;}
.bg3 .menu_wrap .drink_wrap{display: none;}
/*==============================================스와이퍼 토스트============================================= */
.bg3 .menu_wrap .toast_wrap .toast{width: 1350px; }
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper{padding-bottom: 20px;}
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper .swiper-slide a h1 {font-size: 1.25rem;padding-bottom: 10px;}
.bg3 .menu_wrap .toast_wrap .toast .swiper-wrapper .swiper-slide a p {font-size: 0.875rem; color: #757575;}
/*==============================================스와이퍼 세트============================================= */
.bg3 .menu_wrap .set_wrap .set{width: 1350px; }
.bg3 .menu_wrap .set_wrap .set .swiper-wrapper{padding-bottom: 20px;}
.bg3 .menu_wrap .set_wrap .set .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg3 .menu_wrap .set_wrap .set .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg3 .menu_wrap .set_wrap .set .swiper-wrapper .swiper-slide a h1 {font-size: 1.25rem;}
.bg3 .menu_wrap .set_wrap .set .swiper-wrapper .swiper-slide a p {font-size: 0.875rem;}
/*==============================================스와이퍼 사이드============================================= */
.bg3 .menu_wrap .side_wrap .side {width: 1350px; }
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper{padding-bottom: 20px;}
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .slide2 {background-color: none;}
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .slide3{background-color: none;}
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .slide4{background-color: none;}
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .swiper-slide a h1 {font-size: 1.25rem;}
.bg3 .menu_wrap .side_wrap .side .swiper-wrapper .swiper-slide a p {font-size: 0.875rem;}
/*==============================================스와이퍼 드링크============================================= */
.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper{padding-bottom: 20px;}
.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper .swiper-slide a h1 {font-size: 1.25rem;}
.bg3 .menu_wrap .drink_wrap .drink .swiper-wrapper .swiper-slide a p {font-size: 0.875rem;}
/* ======================================================더보기================================================ */
.bg3 .see_more {border: 2px solid white; border-radius: 30px; display: flex; width: 138px; align-items: center;
    justify-content: center; margin: 0 auto; flex-flow: row nowrap; width: 201px; margin-top: 50px; padding: 9px 0;}
.bg3 .see_more span {color: white; justify-content: center;font-weight: 500;}
.bg3 .see_more em img{margin-left: 60px; width: 24px;}
/* =================================================================bg4======================================================================================================= */
/* =================================================================bg4============================================================================================================== */
/* 버튼 */
.bg4 .news_wrap .news_all .swiper-button-prev {color: #d9d9d9; margin-left: 200px;}
.bg4 .news_wrap .news_all .swiper-button-next {color : #d9d9d9; margin-right: 200px;}
.bg4 .news_wrap .news_alram .swiper-button-prev {color: #d9d9d9; margin-left: 200px;}
.bg4 .news_wrap .news_alram .swiper-button-next {color : #d9d9d9; margin-right: 200px;}
.bg4 .news_wrap .news_event .swiper-button-prev {color: #d9d9d9; margin-left: 200px;}
.bg4 .news_wrap .news_event .swiper-button-next {color : #d9d9d9; margin-right: 200px;}
/* 미니뉴스 */
.bg4 .News {text-align: center; font-weight: 800; font-size: 4rem; margin-top: 187px;}
.bg4 .mini_news {text-align: center; margin-top: 40px; margin-bottom: 60px;}
.bg4 .mini_news a {margin-right: 43px;}
.bg4 .mini_news .active { background-color: #FF2A20; color: white; font-weight: 600; padding: 7px 17px; border-radius: 30px;}
.bg4 .news_wrap {position: relative;}
.bg4 .news_wrap .news_all .all .swiper-wrapper .swiper-slide, .bg4 .news_wrap .news_alram .alram .swiper-wrapper .swiper-slide,.bg4 .news_wrap .news_event .event .swiper-wrapper .swiper-slide {box-shadow: 0 7px 7px 0 rgb(224, 224, 224);} 
/* ===============================================스와이퍼 메뉴들 =====================================*/
.bg4 .news_wrap .news_all{display: block;}
.bg4 .news_wrap .news_alram{display: none;}
.bg4 .news_wrap .news_event{display: none;}
/*====================================================== 전체=================================== */
.bg4 .news_wrap .news_all .all{width: 1350px; }
.bg4 .news_wrap .news_all .all .swiper-wrapper{padding-bottom: 20px;}
.bg4 .news_wrap .news_all .all .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg4 .news_wrap .news_all .all .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg4 .news_wrap .news_all .all .swiper-wrapper .swiper-slide a h1 {font-size: 1.125rem;}
.bg4 .news_wrap .news_all .all .swiper-wrapper .swiper-slide a p {font-size: 0.875rem; color: #757575; margin-top: 10px;}
/* ========================================================공지사항============================================= */
.bg4 .news_wrap .news_alram .alram{width: 1350px; }
.bg4 .news_wrap .news_alram .alram .swiper-wrapper{padding-bottom: 20px;}
.bg4 .news_wrap .news_alram .alram .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg4 .news_wrap .news_alram .alram .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg4 .news_wrap .news_alram .alram .swiper-wrapper .swiper-slide a h1 {font-size: 1.125rem;}
.bg4 .news_wrap .news_alram .alram .swiper-wrapper .swiper-slide a p {font-size: 0.875rem; color: #757575; margin-top: 10px;}
/* ======================================================이벤트==================================================== */
.bg4 .news_wrap .news_event .event{width: 1350px; }
.bg4 .news_wrap .news_event .event .swiper-wrapper{padding-bottom: 20px;}
.bg4 .news_wrap .news_event .event .swiper-wrapper .swiper-slide {background-color: white; border-radius: 15px; }
.bg4 .news_wrap .news_event .event .swiper-wrapper .swiper-slide a img {width: 100%;}
.bg4 .news_wrap .news_event .event .swiper-wrapper .swiper-slide a h1 {font-size: 1.125rem;}
.bg4 .news_wrap .news_event .event .swiper-wrapper .swiper-slide a p {font-size: 0.875rem; color: #757575; margin-top: 10px;}
/* ===========================================================div.box========================================================== */
.bg4 .news_wrap .news_all .all .swiper-wrapper .swiper-slide a .box,.bg4 .news_wrap .news_alram .alram .swiper-wrapper .swiper-slide a .box,.bg4 .news_wrap .event .event .swiper-wrapper .swiper-slide a .box{
    background-color: white; padding: 30px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
/* =============================================================================bg5========================================================================================= */
/* =============================================================================bg5======================================================================================== */
main .bg5 {background-image: url(../images/bg5_banner.jpg); width: 100%; height: 635px; margin-top: 213px; overflow: hidden;}
main .with {background-color: red; display: inline-block; width: 1234px; height: 1235px; border-radius: 50%; transform: translate(-500px, -300px); transform: tr;} 
main .bg5 .with{position: relative ;}
main .bg5 .with_parent{color: white; position: absolute; right: 100px; top: 36%; z-index: 999;}
main .bg5 .with h1{ font-size: 4rem; font-weight: 800; letter-spacing: -5%; margin-bottom: 40px;}
main .bg5 .with p{font-size: 1.5rem; line-height: 1.4;}
main .bg5 .with a{border: 2px solid white; border-radius: 30px; display: flex; width: 138px; align-items: center;
    justify-content: center;flex-flow: row nowrap; width: 201px; margin-top: 50px; padding: 9px 0;}
main .bg5 .with a span{color: white; font-weight: 500;}
main .bg5 .with a img{margin-left: 40px; width: 24px;}
/* =============================================================================footer========================================================================================= */
/* =============================================================================footer======================================================================================= */
footer {background-color: #FFE68C; color: #FF2A20; z-index: 100;}
.fot_all {width: 1350px; margin: 0 auto; padding-top: 11px;}
footer .footer_top {border-bottom: 0.5px solid #FFCA7B; padding-bottom: 15px; padding-top: 14px;}
footer .footer_top a {margin-right: 27px; color: #FF2A20;}
footer .footer_top a span {margin-right: 27px; color: #FF2A20; font-weight: 600;}
footer .fot_all .flex {display: flex;}
footer h2 {display: inline-block; margin-top: 42px;}
footer .footer_detail {margin-top: 40px; margin-left: 89px;}
footer .footer_detail dl {align-items: center; }
footer .footer_detail dl dt {float: left; width: 100px; font-weight: 600; margin-bottom: 15px;}
footer .footer_detail dl dd { float: right; width: calc(100% - 150px); margin-bottom: 15px;}
footer .footer_detail dl dd span {font-weight: 600;}
footer .footer_detail p {clear: both; margin-bottom: 100px; padding-top: 10px; font-size: 0.85rem;}
footer .footer_detail p span {clear: both; margin-bottom: 100px; padding-top: 10px; font-size: 0.85rem; color: #ff7112;}
footer .f_sns {display: flex; margin-top: 51px;}
footer .f_sns a img {margin-right: 28px;}